

  .home {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .users-table {
    padding-top: 10px;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .users-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
  }
  